*{
    background-color: #F1F4F0; 
}
.single-article {
    font-size: calc(10px + 1.5vmin);
    color: #223E5D;
    margin: 4%;
    padding: 2%;
    display: grid;
    grid-template-columns: auto auto 20%;
    grid-template-areas: 'article-title article-title article-title'                          
                        'article-body article-body article-body'
                        'article-author article-author vote-count'
                        'comment-list comment-list comment-list' 
}

#article-title {
    grid-area: article-title;
}

#article-author {
    grid-area: article-author;
}

#article-body {
    grid-area: article-body;
}

#vote-count {
    display: flex;
    flex-direction: column;
    grid-area: vote-count;
    font-weight: bolder;
    align-items: center;
}

#vote-buttons {
    display: inline-block;
    width: 60%;
}

#upvote,
#downvote {
    border: none;
    font-size: calc(10px + 1.5vmin);
  }

#upvote:active,
#downvote {
    transform: translateY(3px);
}
.single-article a {
    background-color: #F1F4F0;
    border: none;
    grid-area: home;
    display: flex;
    justify-content: left;
}

.comment-list {
    grid-area: comment-list;
    list-style-type: none;
    border-top: #223E5D solid 5px;
}

.comment-card {
    display: flex;
    flex-direction: row-reverse;
}

.comment-card p{
    padding: 1% 5%;
}

